@import '~normalize.css/normalize.css'

.center
    display: flex
    align-items: center
    justify-content: center

.alignCenter
    display: flex
    align-items: center

.pointer
    cursor: pointer